@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #8e44ad;
    --secondary-color: #d35400;
    --background-color: #f3e5f5;
    --text-color: #333;
    --card-bg: #fff;
    --navbar-bg: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}