.site-footer {
    background-color: #8e44ad;
    color: #fff;
    padding: 0.5rem 0;
    /* Reduced padding to make it thinner */
    font-family: 'Poppins', sans-serif;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-section {
    flex: 1;
    margin-bottom: 1rem;
    /* Reduced margin to minimize height */
    min-width: 150px;
}


.footer-logo {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.footer-section h3 {
    color: #f39c12;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #f39c12;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f39c12;
}

.newsletter-form {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.newsletter-form input {
    flex-grow: 1;
}

.footer-bottom {
    text-align: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    /* Reduced padding */
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 2rem;
    }
}